
<form [formGroup]="createMovieForm">
    <label>
      Title:
      <input id="title" #title />
    </label>
    <br>

    <label>
      Film Director:
      <input id="filmDirector" #filmDirector/>
    </label>
    <br>

    <label>
      Release Date:
      <input id="releaseDate" #releaseDate/>
    </label>
    <br>
  <!--
    <div *ngIf="title.invalid && (title.dirty || title.touched)"
    class="alert alert-danger">
        <div *ngIf="title.errors.required">
            Title is required.
        </div>
        
    </div>
  -->
    <br>
    <button id="submit" (click)="createMovie(title.value, filmDirector.value, releaseDate.value );">Create</button>
   <!-- <button type="submit" [disabled]="!createMovieForm.valid">Submit</button> -->
  </form>
  
  <router-outlet></router-outlet>
