
<form [formGroup]="createMovieForm" (ngSubmit)="createMovie()">
    <label>
      Title:
      <input #title />
    </label>
    <br>

    <label>
      Film Director:
      <input #filmDirector>
    </label>
    <br>

    <label>
      Release Date:
      <input #releaseDate>
    </label>
    <br>
  <!--
    <div *ngIf="title.invalid && (title.dirty || title.touched)"
    class="alert alert-danger">
        <div *ngIf="title.errors.required">
            Title is required.
        </div>
        
    </div>
  -->
    <br>
    <button (click)="createMovie(title.value, filmDirector.value, releaseDate.value ); title.value=''">Create</button>
   <!-- <button type="submit" [disabled]="!createMovieForm.valid">Submit</button> -->
  </form>
  
  <router-outlet></router-outlet>
