<h2>My Movies</h2>
<ul class="movies">
  <li *ngFor="let movie of movies"
    [class.selected]="movie === selectedMovie"
    (click)="onSelect(movie)">
    <div> <span class="badge">{{movie.id}}</span> {{movie.title}}</div>
  </li>
</ul>

<div *ngIf="selectedMovie">
 
  <h2>{{selectedMovie.title | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedMovie.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedMovie.title" placeholder="title"/>
    </label>
    <button class="delete" title="delete movie"
      (click)="deleteMovie()">Delete</button>
      
      <button class="edit" title="edit movie"
      (click)="editMovie(selectedMovie)">Update</button>
  </div>
  
</div>

<button (click)="getMovies()">Fetch</button>
