<ul class="topnav">
    <a routerLink="home">Home</a>
    <a routerLink="birthday">Birthday</a>
    <a routerLink="birthday2">Birthday2</a>
    <a routerLink="powerboostcalculator">Calculator</a>
    <a routerLink="create-movie">Create Movie</a>
    <a routerLink="browse-movies">Browse Movies</a>
    <a routerLink="delete-movie">Delete Movies</a>
    <a routerLink="config-test">Config test</a>
    <a routerLink="/home/login">Login</a>
    <a routerLink="/home/register">Register</a>
</ul> 

<router-outlet></router-outlet>