<p>
  browse-movies works!
</p>
<table style="table-layout:fixed" bgcolor="#CCCCCC" width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th width="200" height="379" align="center" valign="top" scope="row">
    <table width="180" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th height="121" bgcolor="#FFFF00" scope="row">Content</th>
        <img src="/assets/images/interstellar.png">
      </tr>
    </table>
    
     <table width="180" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th height="121" bgcolor="#99FF33" scope="row">django-unchained</th>
        <img src="/assets/images/django-unchained.png">
      </tr>
    </table>
    
     <table width="180" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th height="121" bgcolor="#FFFF00" scope="row">Content</th>
      </tr>
    </table>
    
    
    </th>
    <td width="200" align="center" valign="top">
    
    <table width="180" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th height="121" bgcolor="#FFFF00" scope="row">Content</th>
      </tr>
    </table>
    
     <table width="180" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th height="121" bgcolor="#99FF33" scope="row">Content</th>
      </tr>
    </table>
    
     
    
    </td>
    <td width="200" align="center" valign="top"><table width="180" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th height="121" bgcolor="#FFFF00" scope="row">Content</th>
      </tr>
    </table>
    
     <table width="180" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th height="121" bgcolor="#99FF33" scope="row">Content</th>
      </tr>
    </table>
    
     <table width="180" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th height="121" bgcolor="#FFFF00" scope="row">Content</th>
      </tr>
    </table>
    </td>
  </tr>
</table>